.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}

.fr {
    float: right;
}

.fl {
    float: left;
}

.iconfont {
    display: inline-block;
}
